# Remover ambiente virtual
env
api/env
# Remover a pasta de banco de dados
api/db/db_vinho.sqlite3
*/db/db_vinho.sqlite3
# Remover a pasta de logs
api/log

# Remover pasta de cache
api/__pycache__
api/.pytest_cache
api/*/__pycache__
